@model Wedding_Planner.Models.User
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
        <title>Wedding Planner | Register</title>
    </head>
    <body>
    <div class="wrapper">
        <p>@ViewBag.errors</p>
        <div class="main">
            <h1>Register</h1>
            <form asp-action="Register" asp-controller="User" method="Post">
                <span asp-validation-for="FirstName"></span>
                <label asp-for="FirstName"></label><input asp-for="FirstName"><br>
                <span asp-validation-for="LastName"></span>
                <label asp-for="LastName"></label><input asp-for="LastName"><br>
                <span asp-validation-for="Email"></span>
                <label asp-for="Email"></label><input asp-for="Email"><br>
                <span asp-validation-for="Password"></span>
                <label asp-for="Password"></label><input asp-for="Password"><br>
                <span asp-validation-for="ConfirmPW"></span>
                <label asp-for="ConfirmPW"></label><input asp-for="ConfirmPW"><br>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
</body>
</html>